form{
    gap:3rem;
}
form h3{
    font-size: 1.4rem;

}

.input-container{
    flex:1;
    align-items: stretch;
}

#email{
    border:none;
    flex:1;
    font-size: 1rem;
    padding-left: 1.1rem;
}

#email:focus{
    outline:none;

}

.social-icons{
    gap:1.2rem;
    justify-content: flex-end;

}

.media{
    font-size: 1.2rem;
    color:var(--light-black)
}


/*FOOTER Section*/


.footer-list{
    flex:1;
    padding-block: 1rem;
}

.footer-link{
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--light-black);
    line-height: 2.25rem;
}