form {
  gap: 3rem;
}

form h3 {
  font-size: 1.4rem;
}

.input-container {
  flex: 1;
  align-items: stretch;
}

#email {
  border: none;
  flex: 1;
  font-size: 1rem;
  padding-left: 1.1rem;
}

#email:focus {
  outline: none;
}

.social-icons {
  gap: 1.2rem;
  justify-content: flex-end;
}

.media {
  font-size: 1.2rem;
  color: var(--light-black);
}

/* FOOTER Section */
.footer-container {
  padding-bottom: 3rem;
}

.footer-list {
  flex: 1;
  padding-block: 1rem;
  flex-basis: 200px;
}

.footer-link {
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--light-black);
  line-height: 2.25rem;
}

.footer-logo {
  margin-bottom: 1rem;
}

.detail {
  font-size: 0.95rem;
  line-height: 1.75rem;
  color: #6e6e6e;
}

.footer-bottom {
  padding-block: 0.85rem;
  text-align: center;
  color: #6e6e6e;
  border-top: 0.065rem solid #bbb;
  font-size: 0.9rem;
}
